@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');


body{
     font-family: 'Lato', sans-serif;
     -webkit-font-smoothing:antialiased;
     color:$dark;
}

nav li:last-child a{
     background-color: $primary;
     &:hover{
          background-color: $primary-hover;
     }
}

nav li a{
     transition: $smooth;
     &:hover{
          color: $primary;
     }
}

section.hero {
     background: $secondary;
}

.size{
     background-color: $secondary;
}

.add-to-cart{
     border:2px solid $primary;
     color: $primary ;
     transition: $smooth;
     &:hover{
          background: $primary;
          border-color: $pure;
          color:$pure;
     }
}


.btn-primary{
     background-color: $primary !important ;
     transition: $smooth;
     &:hover{
          background-color: $primary-hover !important;
     }
}

section.cart{
     background-color: $secondary;
     .amount{
          color:$primary
     }
}

.login{
     background-color: $secondary;
     min-height:calc(100vh - 86px) ;
     a{
          color: $primary;
          &:hover{
               color:$primary-hover;
          }
     }
}
a.link{
     color: $primary;
}